.body-clone {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #07132f;
}
.father {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}