
.simpson {
    width: 500px;
    height: 700px;
    background: #395e9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 50px;
    padding: 30px;
    box-sizing: border-box;
}

img {
    width: 130px;
}

.img {
    width: 200px;
    height: 200px;
    background: #ffee7d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #ffee7d 1px 1px 50px;
}

* {
    font-size: 18px;
    text-align: center;
    color: #1c190d;
}